In [1]:
import pandas as pd
import csv

In [2]:
base_winter = pd.read_csv("winter.csv")

In [3]:
base_summer = pd.read_csv("summer.csv")

In [4]:
base_winter.pop('Year')
base_winter.pop('City')
base_winter.pop('Athlete')
base_winter.pop('Country')
base_winter.pop('Gender')
base_winter.pop('Medal')

base_winter

         Sport Discipline            Event
0     Biathlon   Biathlon  Military Patrol
1     Biathlon   Biathlon  Military Patrol
2     Biathlon   Biathlon  Military Patrol
3     Biathlon   Biathlon  Military Patrol
4     Biathlon   Biathlon  Military Patrol
...        ...        ...              ...
5765    Skiing  Snowboard       Slopestyle
5766    Skiing  Snowboard       Slopestyle
5767    Skiing  Snowboard  Snowboard Cross
5768    Skiing  Snowboard  Snowboard Cross
5769    Skiing  Snowboard  Snowboard Cross

[5770 rows x 3 columns]

In [5]:
output_winter = base_winter.drop_duplicates(subset = ["Event"])
output_winter.insert(loc=0, column = 'Season', value = 'Winter')
output_winter

      Season       Sport      Discipline            Event
0     Winter    Biathlon        Biathlon  Military Patrol
12    Winter   Bobsleigh       Bobsleigh         Four-Man
25    Winter     Curling         Curling          Curling
47    Winter  Ice Hockey      Ice Hockey       Ice Hockey
78    Winter     Skating  Figure skating       Individual
...      ...         ...             ...              ...
5725  Winter      Skiing     Ski Jumping            Teams
5737  Winter      Skiing     Ski Jumping   K90 Individual
5740  Winter      Skiing       Snowboard  Giant Parall.S.
5746  Winter      Skiing       Snowboard  Parallel Slalom
5749  Winter      Skiing       Snowboard       Slopestyle

[83 rows x 4 columns]

In [6]:
base_summer.pop('Year')
base_summer.pop('City')
base_summer.pop('Athlete')
base_summer.pop('Country')
base_summer.pop('Gender')
base_summer.pop('Medal')

base_summer

           Sport           Discipline                       Event
0       Aquatics             Swimming              100M Freestyle
1       Aquatics             Swimming              100M Freestyle
2       Aquatics             Swimming  100M Freestyle For Sailors
3       Aquatics             Swimming  100M Freestyle For Sailors
4       Aquatics             Swimming  100M Freestyle For Sailors
...          ...                  ...                         ...
31160  Wrestling  Wrestling Freestyle                    Wg 84 KG
31161  Wrestling  Wrestling Freestyle                    Wg 96 KG
31162  Wrestling  Wrestling Freestyle                    Wg 96 KG
31163  Wrestling  Wrestling Freestyle                    Wg 96 KG
31164  Wrestling  Wrestling Freestyle                    Wg 96 KG

[31165 rows x 3 columns]

In [7]:
output_summer = base_summer.drop_duplicates(subset = ["Event"])
output_summer.insert(loc=0, column = 'Season', value = 'Summer')
output_summer

       Season      Sport           Discipline                       Event
0      Summer   Aquatics             Swimming              100M Freestyle
2      Summer   Aquatics             Swimming  100M Freestyle For Sailors
5      Summer   Aquatics             Swimming             1200M Freestyle
8      Summer   Aquatics             Swimming              400M Freestyle
11     Summer  Athletics            Athletics                        100M
...       ...        ...                  ...                         ...
31145  Summer  Wrestling  Wrestling Freestyle                    Wg 60 KG
31149  Summer  Wrestling  Wrestling Freestyle                    Wg 66 KG
31153  Summer  Wrestling  Wrestling Freestyle                    Wg 74 KG
31157  Summer  Wrestling  Wrestling Freestyle                    Wg 84 KG
31161  Summer  Wrestling  Wrestling Freestyle                    Wg 96 KG

[666 rows x 4 columns]

In [8]:
output_winter.to_csv(r'base_winter_sport.csv', index = False)
output_summer.to_csv(r'base_summer_sport.csv', index = False)

In [9]:
output_winter_read = pd.read_csv("base_winter_sport.csv")
output_summer_read = pd.read_csv("base_summer_sport.csv")

In [10]:
frames = [output_winter_read, output_summer_read]
output = pd.concat(frames)
output.to_csv(r'final_base_sports.csv', index=False)

In [11]:
resultat = pd.read_csv("final_base_sports.csv")

In [12]:
resultat.Season.unique()

array(['Winter', 'Summer'], dtype=object)

In [13]:
output_winter_read.Sport.unique()

array(['Biathlon', 'Bobsleigh', 'Curling', 'Ice Hockey', 'Skating',
       'Skiing', 'Luge'], dtype=object)

In [14]:
len(output_summer_read.Discipline.unique())

50

In [15]:
len(output_winter_read.Discipline.unique())

14