In [11]:
import pandas as pd
import csv
import json

In [17]:
base = pd.read_csv("final_base_globe.csv", sep=";")

In [18]:
base

                                                                                                           final_base_globe
City                                               Country        Summer..Olympiad. Winter Year latitude          longitude
Athens                                             Greece         I                 -      1896 39.074207         21.824312
Paris                                              France         II                -      1900 46.227638          2.213749
St. Louis                                          United States  III               -      1904 37.090240        -95.712891
London                                             United Kingdom IV                -      1908 55.378052         -3.435973
Stockholm                                          Sweden         V                 -      1912 60.128162         18.643501
Berlin                                             Germany        VI                -      1916 51.165691         10.451526
Antwerp                                            Belgium        VII               -      1920 50.503887          4.469936
Chamonix                                           France         -                 I      1924 46.227638          2.213749
Paris                                              France         VIII              -      NaN  46.227638          2.213749
St. Moritz                                         Switzerland    -                 II     1928 46.818188          8.227512
Amsterdam                                          Netherlands    IX                -      NaN  52.132633          5.291266
Lake Placid                                        United States  -                 III    1932 37.090240        -95.712891
Los Angeles                                        United States  X                 -      NaN  37.090240        -95.712891
Garmisch-Partenkirchen                             Germany        -                 IV     1936 51.165691         10.451526
Berlin                                             Germany        XI                -      NaN  51.165691         10.451526
Sapporo\r\n Garmisch-Partenkirchen;Germany;-;V;... NaN            NaN               NaN    NaN  NaN                     NaN
Tokyo\r\n Helsinki;Finland;XII;-;;61.924110;25.... NaN            NaN               NaN    NaN  NaN                     NaN
Cortina d'Ampezzo                                  Italy          -                 V      1944 41.871941         12.567380
London                                             United Kingdom XIII              -      NaN  55.378052         -3.435973
St. Moritz                                         Switzerland    -                 V      1948 46.818188          8.227512
London                                             United Kingdom XIV               -      NaN  55.378052         -3.435973
Oslo                                               Norway         -                 VI     1952 60.472023          8.468946
Helsinki                                           Finland        XV                -      NaN  61.924110         25.748152
Cortina d'Ampezzo                                  Italy          -                 VII    1956 41.871941         12.567380
Melbourne\r\n Stockholm;Sweden;XVI;-;;60.128162... NaN            NaN               NaN    NaN  NaN                     NaN
Squaw Valley                                       United States  -                 VIII   1960 37.090240        -95.712891
Rome                                               Italy          XVII              -      NaN  41.871941         12.567380
Innsbruck                                          Austria        -                 IX     1964 47.516232         14.550072
Tokyo                                              Japan          XVIII             -      NaN  36.204823        138.252930
Grenoble                                           France         -                 X      1968 46.227638          2.213749
Mexico City                                        Mexico         XIX               -      NaN  23.634501       -102.552788
Sapporo                                            Japan          -                 XI     1972 36.204823        138.252930
Munich                                             Germany        XX                -      NaN  51.165691         10.451526
Innsbruck                                          Austria        -                 XII    1976 47.516232         14.550072
Montreal                                           Canada         XXI               -      NaN  56.130367       -106.346771
Lake Placid                                        United States  -                 XIII   1980 37.090240        -95.712891
Moscow                                             Russia         XXII              -      NaN  61.524010        105.318756
Sarajevo                                           Yugoslavia     -                 XIV    1984 50.605438          4.133180
Los Angeles                                        United States  XXIII             -      NaN  37.090240        -95.712891
Calgary                                            Canada         -                 XV     1988 56.130367       -106.346771
Seoul                                              South Korea    XXIV              -      NaN  35.907757        127.766922
Albertville                                        France         -                 XVI    1992 46.227638          2.213749
Barcelona                                          Spain          XXV               -      NaN  40.463669         -3.749220
Lillehammer                                        Norway         -                 XVII   1994 60.472023          8.468946
Atlanta                                            United States  XXVI              -      1996 37.090240        -95.712891
Nagano                                             Japan          -                 XVIII  1998 36.204823        138.252930
Sydney                                             Australia      XXVII             -      2000 -25.274399       133.775131
Salt Lake City                                     United States  -                 XIX    2002 37.090240        -95.712891
Athens                                             Greece         XXVIII            -      2004 39.074207         21.824312
Turin                                              Italy          -                 XX     2006 41.871941         12.567380
Beijing                                            China          XXIX              -      2008 35.861660        104.195396
Vancouver                                          Canada         -                 XXI    2010 56.130367       -106.346771
London                                             United Kingdom XXX               -      2012 55.378052         -3.435973
Sochi                                              Russia         -                 XXII   2014 61.524010        105.318756

In [16]:
base.insert(loc=5, column = 'latitude', value = '')

IndexError: index 5 is out of bounds for axis 0 with size 1

In [7]:
base

,City,Country,Summer..Olympiad.,Winter,Year,latitude
0,Athens,Greece,I,-,1896.0,
1,Paris,France,II,-,1900.0,
2,St. Louis,United States,III,-,1904.0,
3,London,United Kingdom,IV,-,1908.0,
4,Stockholm,Sweden,V,-,1912.0,
5,Berlin,Germany,VI,-,1916.0,
6,Antwerp,Belgium,VII,-,1920.0,
7,Chamonix,France,-,I,1924.0,
8,Paris,France,VIII,-,NaN,
9,St. Moritz,Switzerland,-,II,1928.0,
10,Amsterdam,Netherlands,IX,-,NaN,
11,Lake Placid,United States,-,III,1932.0,
12,Los Angeles,United States,X,-,NaN,
13,Garmisch-Partenkirchen,Nazi Germany,-,IV,1936.0,
14,Berlin,Nazi Germany,XI,-,NaN,
15,Sapporo\r\n Garmisch-Partenkirchen,Empire of Japan\r\n Nazi Germany,-,V,1940.0,
16,Tokyo\r\n Helsinki,Empire of Japan\r\n Finland,XII,-,NaN,
17,Cortina d'Ampezzo,Italy,-,V,1944.0,
18,London,United Kingdom,XIII,-,NaN,
19,St. Moritz,Switzerland,-,V,1948.0,
20,London,United Kingdom,XIV,-,NaN,
21,Oslo,Norway,-,VI,1952.0,
22,Helsinki,Finland,XV,-,NaN,
23,Cortina d'Ampezzo,Italy,-,VII,1956.0,
24,Melbourne\r\n Stockholm,Australia\r\n Sweden,XVI,-,NaN,
25,Squaw Valley,United States,-,VIII,1960.0,
26,Rome,Italy,XVII,-,NaN,
27,Innsbruck,Austria,-,IX,1964.0,
28,Tokyo,Japan,XVIII,-,NaN,
29,Grenoble,France,-,X,1968.0,
30,Mexico City,Mexico,XIX,-,NaN,
31,Sapporo,Japan,-,XI,1972.0,
32,Munich,West Germany,XX,-,NaN,
33,Innsbruck,Austria,-,XII,1976.0,
34,Montreal,Canada,XXI,-,NaN,
35,Lake Placid,United States,-,XIII,1980.0,
36,Moscow,Soviet Union,XXII,-,NaN,
37,Sarajevo,Yugoslavia,-,XIV,1984.0,
38,Los Angeles,United States,XXIII,-,NaN,
39,Calgary,Canada,-,XV,1988.0,
40,Seoul,South Korea,XXIV,-,NaN,
41,Albertville,France,-,XVI,1992.0,
42,Barcelona,Spain,XXV,-,NaN,
43,Lillehammer,Norway,-,XVII,1994.0,
44,Atlanta,United States,XXVI,-,1996.0,
45,Nagano,Japan,-,XVIII,1998.0,
46,Sydney,Australia,XXVII,-,2000.0,
47,Salt Lake City,United States,-,XIX,2002.0,
48,Athens,Greece,XXVIII,-,2004.0,
49,Turin,Italy,-,XX,2006.0,
50,Beijing,China,XXIX,-,2008.0,
51,Vancouver,Canada,-,XXI,2010.0,
52,London,United Kingdom,XXX,-,2012.0,
53,Sochi,Russia,-,XXII,2014.0,

In [8]:
base.insert(loc=6, column = 'longitude', value = '')

In [9]:
base

,City,Country,Summer..Olympiad.,Winter,Year,latitude,longitude
0,Athens,Greece,I,-,1896.0,,
1,Paris,France,II,-,1900.0,,
2,St. Louis,United States,III,-,1904.0,,
3,London,United Kingdom,IV,-,1908.0,,
4,Stockholm,Sweden,V,-,1912.0,,
5,Berlin,Germany,VI,-,1916.0,,
6,Antwerp,Belgium,VII,-,1920.0,,
7,Chamonix,France,-,I,1924.0,,
8,Paris,France,VIII,-,NaN,,
9,St. Moritz,Switzerland,-,II,1928.0,,
10,Amsterdam,Netherlands,IX,-,NaN,,
11,Lake Placid,United States,-,III,1932.0,,
12,Los Angeles,United States,X,-,NaN,,
13,Garmisch-Partenkirchen,Nazi Germany,-,IV,1936.0,,
14,Berlin,Nazi Germany,XI,-,NaN,,
15,Sapporo\r\n Garmisch-Partenkirchen,Empire of Japan\r\n Nazi Germany,-,V,1940.0,,
16,Tokyo\r\n Helsinki,Empire of Japan\r\n Finland,XII,-,NaN,,
17,Cortina d'Ampezzo,Italy,-,V,1944.0,,
18,London,United Kingdom,XIII,-,NaN,,
19,St. Moritz,Switzerland,-,V,1948.0,,
20,London,United Kingdom,XIV,-,NaN,,
21,Oslo,Norway,-,VI,1952.0,,
22,Helsinki,Finland,XV,-,NaN,,
23,Cortina d'Ampezzo,Italy,-,VII,1956.0,,
24,Melbourne\r\n Stockholm,Australia\r\n Sweden,XVI,-,NaN,,
25,Squaw Valley,United States,-,VIII,1960.0,,
26,Rome,Italy,XVII,-,NaN,,
27,Innsbruck,Austria,-,IX,1964.0,,
28,Tokyo,Japan,XVIII,-,NaN,,
29,Grenoble,France,-,X,1968.0,,
30,Mexico City,Mexico,XIX,-,NaN,,
31,Sapporo,Japan,-,XI,1972.0,,
32,Munich,West Germany,XX,-,NaN,,
33,Innsbruck,Austria,-,XII,1976.0,,
34,Montreal,Canada,XXI,-,NaN,,
35,Lake Placid,United States,-,XIII,1980.0,,
36,Moscow,Soviet Union,XXII,-,NaN,,
37,Sarajevo,Yugoslavia,-,XIV,1984.0,,
38,Los Angeles,United States,XXIII,-,NaN,,
39,Calgary,Canada,-,XV,1988.0,,
40,Seoul,South Korea,XXIV,-,NaN,,
41,Albertville,France,-,XVI,1992.0,,
42,Barcelona,Spain,XXV,-,NaN,,
43,Lillehammer,Norway,-,XVII,1994.0,,
44,Atlanta,United States,XXVI,-,1996.0,,
45,Nagano,Japan,-,XVIII,1998.0,,
46,Sydney,Australia,XXVII,-,2000.0,,
47,Salt Lake City,United States,-,XIX,2002.0,,
48,Athens,Greece,XXVIII,-,2004.0,,
49,Turin,Italy,-,XX,2006.0,,
50,Beijing,China,XXIX,-,2008.0,,
51,Vancouver,Canada,-,XXI,2010.0,,
52,London,United Kingdom,XXX,-,2012.0,,
53,Sochi,Russia,-,XXII,2014.0,,

In [14]:
base.to_csv(r'final_base_globe.csv', index=False)